// Định dạng Component Card
.card {
  border: 1px solid $border-color;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 6px;
  margin-top: 20px;
  @include box-shadow;

  h2 {
    margin-bottom: 10px;
    color: $primary-color;
  }

  p {
    margin-bottom: 15px;
  }
}