// Định dạng toàn cục
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: $text-color;
  background-color: $background-color;
  line-height: 1.6;
  padding: 40px 0;
}